# DataBase Data:
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=hire_mind
POSTGRES_USER=
POSTGRES_PASSWORD=

# JWT Data:
JWT__ISSUER=backend
JWT__AUDIENCE=backend-client
JWT__SECRET=
JWT__ACCESS_TOKEN_EXPIRATION_MINUTES=60
JWT__COOKIE_NAME=
JWT__COOKIE_SECURE=true
JWT__COOKIE_SAME_SITE=Lax

# Email Data:
Email__FromName=HireMind
Email__From=
Email__SmtpHost=smtp.gmail.com
Email__SmtpPort=587
Email__Username=
Email__Password=

# Telegram bot
Telegram__BotToken=
Telegram__Bot_Username=
